@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --font-family: "Poppins", sans-serif;
    --font-family2: "Inter", sans-serif;
    --font-family3:"Ubuntu", sans-serif;
    --color:#ee4e4e;
    --color2:#F4F6F5;
    --color3:#f5f2f2;
    --bg:#111;
    --bg2:#000000;
    --bg3:#ffffff;
    --bggradientetop: linear-gradient(to top, #0e0d0d27, #070707);
    --bggradientebottom: linear-gradient(to bottom, #272424, #423f40);
    --border: #5f5e5e;
    --button: #71A3D2;
}