*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--bg2);
}

header {
    background-color: rgba(2, 6, 23, 0.75);
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(51, 65, 85, 0.5);
    font-family: var(--font-family);

    h1{
        color: var(--color);
        font-size: 1.9rem;
        font-weight: 400;
    }

    span{
        color: var(--color2);
    }
}

nav ul {
    width: fit-content;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    

    a {
    gap: 0.3rem;
    width: 7rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color3);
    border-radius: 0.4rem;

    transition:
        background-color 0.3s,
        color 0.3s,
        transform 0.3s;
}
}

nav#menu a:hover {
    background-color: var(--bg3);
    color: var(--color);
    border-radius: 0.4rem;
    transform: translateY(-3px);
}

.navegacao-primaria{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.5s;
    

    a{
        padding: 0.5rem;
        color: var(--color2);
        font-size: 0.8rem;
    }
}

.navegacao-primaria a:hover{
    color: var(--color);
    background-color: var(--bg3);
    border-radius: 0.2rem;
    transition: all 0.5s;
}

.section-div{
    width: 100%;
    height: 70vh;
    background-color: var(--bg2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    animation: inicializar .7s forwards;
    background-image: url(/assets/img/rm2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  center right;

    h2{
        font-family: var(--font-family);
        font-weight: 500;
        color: var(--color3);
        font-size: 2.4rem;
        margin-top: -1rem;
    }

    p{
        color: var(--color2);
        font-family: var(--font-family);
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1.4rem;
        margin-bottom: -1rem;
    }


    a{
        display: flex;
        width: 22rem;
        gap: 1rem;
        font-weight: 100;
        padding: 0.5rem;
        color: var(--color);
        align-items: center;
        font-size: 0.9rem;
        border: 0.1rem solid var(--color2);
        justify-self: start;
        align-content: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 0.2rem;
        transition: all 0.5s;
        font-family: var(--font-family);
        background-color: var(--bg3);
    }

    

    
}

.section-div a:hover{
    color: var(--color3);
    background-color: transparent;
    border-radius: 0.2rem;
    transition: all 0.5s;
}

#titulo{
    color: var(--color);
}

.digitando::after{
    color: var(--color3);
    content: '|';
    margin-left: 0.2rem;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
        
    }

    to{
        opacity: 0;
        
    }
}

.section-div div{
    margin-top: 5rem;
    padding: 0rem 5rem;
    display: grid;
    gap: 1.9rem;
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate(0, -50px, 0);
    }

    to{
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

main{
    background-color: var(--bg);
}

.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    height: 60vh; 

    img{
        animation: ladoSecao 0.5s ease-in-out forwards;
        cursor: pointer;
        grid-row: 2;
        max-width: 100%;
        filter: blur(0)
    }
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre-conteudo{
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg2);
    padding: 1rem;
    width: 100%;
}

.sobre-titulo{
    margin: 0.5rem 0;
    grid-column: 1/-1;
    text-align: center;
    color: var(--color3);
    

    h1{
        font-size: 2.5rem;
        color: var(--color);
        text-transform: capitalize;
        margin-bottom: 0.9rem;
        font-family: var(--font-family);
        font-weight: 300;
    }

    p{
        font-family: var(--font-family);
        font-size: 1rem;
        margin-bottom: 1rem;
        position: relative;
    }

    div{
        display: flex;
        gap: 0.7rem;
        justify-content: center;
    }

    span{
        display: block;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background-color: var(--bg3);
        
    }

    
}

article{
    width: 100%;
}



.sobre-texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    

    h1{
        color: var(--color2);
        font-size: 2.5rem;
        grid-column: 1/-1;
        font-family: var(--font-family);
    }

    p{
        font-size: 1rem;
        grid-row: 2;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--color2);
        
    }

}

.sobre-texto h1::after{
   background-color: var(--color);
   height: 0.4rem;
   width: 5rem;
   margin: 1rem 0;
   content: '';
   display: block;
   border-radius: 0.2rem; 
}

.sobre-info{
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--color2);
    transition: all 0.5s;
    

    a{
        text-decoration: none;
        color: var(--color2);
    }

    p{
        font-size: 0.9rem;
    }
}

.sobre-info a:hover {
    color: var(--color);
    transition: all 0.5s;
}

@keyframes sobeSecao {
    from {
        transition: 0.5s;
        transform: translate3d(60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from {
        transition: 0.5s;
        transform: translate3d(-60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

header > i {
    display: none;
}

@media (max-width: 992px) { 

    .sobre img{
        display: none;
        
        
    }

    .sobre-conteudo{
        grid-column: 1/-1;
        background-image: url(/assets/img/rm.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding: 1rem;

        
    }

    .sobre-texto{
        h1{
            font-size: 1.4rem;
        }

        
    }

    .sobre-info{
        p{
            font-size: 0.7rem;
        }
    }

    .navegacao-primaria {
        display: none;
    }

    .navegacao-primaria.ativa {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem;
        background-color: var(--bg2);
        gap: 1rem;
    }

    header {
        position: relative;
    }

    .fa-bars,
    .fa-xmark {
        color: var(--color3);
        font-size: 1.6rem;
        cursor: pointer;
    }

    

    
    
}

@media (min-width: 993px) {
    .section-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: auto;
        padding: 0rem 5rem;
        gap: 10rem;

        a{
            width: 30rem;
        }
   }

   

}